/* Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Root level styles (dark mode handling) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply global styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif; /* Change default font to Poppins */
}
